@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Open+Sans+Condensed:700);
@import "bootstrap/lib/_variables.scss";
@import "bootstrap/lib/_mixins.scss";
@import "bootstrap/lib/_reset.scss";

$baseFontFamily : "Open Sans", sans-serif;
$textColor      : #242424;
$bodyBackground : #e4e4e4;
$linkColor      : #999;
$linkColorHover : #ff6000;
$blue           : #0099BB;
$orange         : #ff6000;
$grayLight      : #999;

@import "bootstrap/lib/_scaffolding.scss";

/*==========================
  LAYOUT
  ==========================*/

@mixin mycontainer {
  @extend .container;
  @include container-fixed;
}

body {
  @include mycontainer;
  background: transparent;
}

#site ul {
  @include mycontainer;
}

@include grid-core($gridColumnWidth, $gridGutterWidth);

@mixin float-span {
  float: left;
  min-height: 1px; // prevent collapsing columns
  margin-left: $gridGutterWidth;
}

#sidebar, #container, #bigfooter > nav, #bigfooter > section,
#redaction #edition, #redaction #chat {
  @include float-span;
  @extend .reset-span;
}

#sidebar {
  @extend .span3;
  margin-left: 0 !important;
}

#container {
  @extend .span9;
}

body, #container, #sidebar, #redaction {
  padding-top: 40px;
}

/*==========================
  STYLES
  ==========================*/

@import "bootstrap/lib/_type.scss";

hr {border-color: #E2E2E3;}

pre, code {
  background: rgba(0,0,0,.05);
  border: 1px solid #aaa;
}
pre {
  background-color: #211E1E;
  color: #DADADA;
  @include box-shadow(#{0 0 6px rgba(0, 0, 0, 0.5)});
  -moz-tab-size: 2;
  padding: 0.75em 1em;

  code {
    border: 0;
    white-space: pre-wrap;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: #23262D;
}
h1 { font-size: 30px; line-height: 40px; font-family: "Open Sans Condensed", sans-serif; }
h2 { font-size: 24px; line-height: 32px; font-weight: normal; }
h3 { font-size: 18px; line-height: 20px; font-weight: normal; }

p                      { @include hyphens(); }
img,video,object,embed { max-width:100%; }
figure                 { position:relative; }
textarea               { max-width:100%; }

blockquote {
  font-style: italic;
  border-left: 0.5em solid #ddd;
  padding: 0.5em;
  margin: 1em;

  p {
    font-size: 14px;
    line-height: inherit;
  }

  &:before {
    color: $grayLight;
    content: "“";
    display: block;
    font: italic 4em/0.8125 Cochin,Georgia,"Times New Roman",serif;
    height: 0;
    margin-left: -0.95em;
  }
}

@import "bootstrap/lib/_tables.scss";
table {
  @extend .table;
  @extend .table-hover;
}

li.link:before {
  content: "(" attr(lang) ")";
  font-family: monospace;
  font-size: small;
  font-weight: bold;
}

/*==========================
  Buttons, Inputs
  ==========================*/

@import "bootstrap/lib/_buttons.scss";
@import "bootstrap/lib/_forms.scss";
@import "bootstrap/lib/_labels-badges.scss";

input[type="radio"] {
  float: left;
  margin-right: 5px;
}

#container form, .edit_account {
  @extend .form-inline;
}

a.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  @extend .btn;

  &:active {@extend .btn:active;}
  &:hover  {@extend .btn:hover;}
  &:focus  {@extend .btn:focus;}
}

form .help {
  color: $grayLight;
  display: inline-block;
  font-style: italic;
}
#stylesheets-edit #contents button {
  margin: 1em 0;
  width: 32%;
}

@mixin button_icon ($icon_image, $posx: 7px, $posy: 7px) {
  background-color: transparent, mix($btnBackground, $btnBackgroundHighlight, 62.5%);
  background-image: url($icon_image), -moz-linear-gradient(top, $btnBackground, $btnBackgroundHighlight);
  background-repeat: no-repeat, repeat-x;
  background-position: $posx $posy, 0 0;
  padding-left: 28px;

  &:hover {
    background-color: transparent, #E6E6E6;
    background-position: $posx $posy, 0 -15px;
  }
}

button, input[type='submit'] {
  &.publish_news, &.ok_button {
    @include button_icon("https://linuxfr.org/images/icones/check.png");
  }
  &.refuse_news, &.delete_button, &.cancel, &.remove, &.refuse_oauth {
    @include button_icon("https://linuxfr.org/images/icones/x_red.png");
  }
  &.add_para, &.add_link, &.create_news {
    @include button_icon("https://linuxfr.org/images/icones/plus.png");
  }
  &.ppp_news {
    @include button_icon("https://linuxfr.org/images/icones/pin.png");
  }
  &.submit_news {
    @include button_icon("https://linuxfr.org/images/icones/check_alt.png");
    margin-bottom:15px;
  }
  &.vote_for {
    @include button_icon("https://linuxfr.org/images/icones/arrow_up.png");
  }
  &.vote_against {
    @include button_icon("https://linuxfr.org/images/icones/arrow_down.png");
  }
  &.plonk {
    @include button_icon("https://linuxfr.org/images/icones/denied.png");
  }
  &#admin_49_3, &.archive_button {
    @include button_icon("https://linuxfr.org/images/icones/target.png");
  }
}

/* button.submit_board, input[type='submit'].submit_board, */

#send-comment {
  background:url("https://linuxfr.org/images/icones/chat.png") no-repeat 2px 2px;
}
.follow_feed, #follow-feed {
  background:url("https://linuxfr.org/images/icones/rss.png") no-repeat 2px 2px;
}
.edit_client_app, .toolbox .new_content {
  background:url("https://linuxfr.org/images/icones/pen.png") no-repeat 2px 2px;
}
.edit_client_app,.toolbox .new_content, .follow_feed, #follow-feed, #send-comment {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding-left: 25px;
}

/*==========================
  Links
  ==========================

color: #0099BB; border-bottom: 1px dashed #0099BB;
color: #999999; border-bottom: 1px dashed #999999;
color: #ff6000; border-bottom: 1px dashed #ff6000;
*/

a, footer.actions .button_to input {
  @include transition(#{all 0.5s ease-in-out 0s});
  text-decoration: none;
  color: $grayLight;

  &:hover {text-decoration: none;}
}

/* #site ul a               {color: #23262d;} */
/* #site ul a:hover         {color: #0099BB;} */

#bigfooter ul:hover a,
#sidebar ul:hover a,
article footer:hover .button_to input,
article footer:hover a   {color: $blue;}

a:hover,
#bigfooter ul:hover a:hover,
#sidebar ul:hover a:hover,
article footer:hover a:hover,
footer.actions .button_to input:hover,
.toolbox a:hover         {color: $orange;}

article {
  h1, h1 a         {color: #23262d;}
  .meta a          {color: $grayLight;    border-bottom: 1px dashed $grayLight;}
  .meta a:hover    {color: #23262d; border-bottom: 1px dashed #23262d;}
  .content a       {color: $blue; border-bottom: 1px dashed $blue;}
  .content a:hover {color: $orange; border-bottom: 1px dashed $orange;}
}

.board-right a           {font-weight:bold;}
.fixed a, .invalid a     {text-decoration:line-through;}

/*==========================
  Sidebar
  ==========================*/

#sidebar {
  .insecure, .secure {
    float:right;
    text-indent:-9999em;
    height:16px;
    width:16px;
  }
  .insecure {
    background: url("https://linuxfr.org/images/icones/lock-insecure.png") no-repeat;
  }
  .secure {
    background: url("https://linuxfr.org/images/icones/lock-secure.png") no-repeat;
  }

  #branding h1 {
    display:block;
    width: 201px;
    height:186px;
    margin: 0;

    a {
      display:block;
      text-indent:-9999em;
      width:100%;
      height:100%;
    }
  }

  .box {
    margin-bottom: 2em;

    h1 {
      font: 24px/32px "Open Sans", sans-serif;
      font-weight: normal;
    }
    ul { margin-left:0; }
    li { list-style:none; }
  }

  input   { font-size:small; }
  #logout { margin-top:1em; }
  h2      { font-size: 18px; line-height: 20px; }
}

/*==========================
  Site (menubar)
  ==========================*/

#site {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
}
#site a {
  color: #bfbfbf;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#site ul .active > a {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  text-decoration: none;
}
#site form {
  @extend .form-search;
  position: absolute;
  top: 5px;
  right: 10px;
  @include opacity(100);
}
#site input {
  background-color: #444;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: normal;
  font-weight: 13px;
  line-height: 1;
  padding: 4px 9px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid #111;
  @include border-radius(4px);
  @include box-shadow(#{inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25)});
  @include transition(none);
}
#site input:-moz-placeholder {
  color: #e6e6e6;
}
#site input::-webkit-input-placeholder {
  color: #e6e6e6;
}
#site input:hover {
  background-color: #bfbfbf;
  background-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
}
#site input:focus, #site input.focused {
  outline: 0;
  background-color: #ffffff;
  color: #404040;
  text-shadow: 0 1px 0 #ffffff;
  border: 0;
  padding: 5px 10px;
  @include box-shadow(#{0 0 3px rgba(0, 0, 0, 0.15)});
}
#site {
  background-color: #222;
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  @include box-shadow(#{0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)});
}
#site ul > li {
  display: block;
  float: left;
}
#site ul a {
  display: block;
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  text-decoration: none;
}
#site ul a:hover {
  color: #ffffff;
  text-decoration: none;
}
#site ul .active > a {
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.5);
}

#site form input#search_submit {
  width:0;
  position:absolute;
  visibility:hidden;
}

/*==========================
  Footer
  ==========================*/

#bigfooter {
  @include clearfix();
  clear: left;
  width: 100%;

  &> nav, &> section {
    @extend .span3;
  }
  #last_comments {
    margin-left: 0;
  }
  nav h1, section h1 {
    font-size: medium;
    margin: 0;
  }
}

/*==========================
  Container
  ==========================*/

.banner {
  display:block;
  text-align:center;
  margin: 0 auto;
}

.toolbox, .scroll {
  display: block;
  margin: 1em 0;
}

.toolbox {
  &> div                    {display:inline-block;}
  .order_navbar ul	    {display:inline; padding-left: 0;}
  .order_navbar ul li	    {display:inline; list-style:none; padding:0;}
  .order_navbar ul li:after {content:" · ";}
}

#container > .toolbox:last-of-type .pagination {display:inherit;}

/*==========================
  Articles
  ==========================*/

article {
  position:relative;

  header .topic:after { content:" :"; }
  h1                  { margin: 0 60px 0 34px; }
  .meta               { color: $grayLight; }
  .datePourCss        { display: none; }
  .image              { float:left; margin:10px; }

  figure figcaption {
    color:$grayLight;
    font-size:80%;
    left:100%;
    line-height:1.7em;
    padding:0 0 0 10%;
    position:absolute;
    top:.5em;
    width:37%;
  }

  .figures .image {
    position:absolute;
    top: 0;
    right: 0;
  }

  .score {
    @extend .badge;
    @extend .badge-info;
    margin: 0;
    position: absolute;
    left: 10px;
    top: 25px;
  }
}

.read a:before,.no_comments a:before,.new_comments a:before,.not_read a:before {
  content:"+ ";
  font-size:medium;
  font-weight:bold;
}

/*==========================
  Footer actions: Tags, votes, ...
  ==========================*/

footer.actions {
  &> span, &> div, form {
    display: inline-block;
  }
  form {
    margin-bottom: 0;
    vertical-align: bottom;
  }

  .button_to input {
    cursor:pointer;
    font-size:inherit;
    color: $grayLight;
    background: transparent;
    background-color:transparent;
    border-style:none;
    padding:0;
    border:none;
    text-shadow: none;
    @include box-shadow(none);
  }
}

.button_to input[disabled]    {cursor:default;}
.vote, .vote .button_to input {font-style: italic;}

.tag_in_place input[type='submit'] {font-size:inherit;}

.tags {
  display: inline;

  ul {
    margin: 0;
    padding: 0;
    display: inline-block;

    li {
      display: inline;
      list-style: none;
      padding: 0;

      &:after { content:", "; }

      form {
        display: inline-block;
        margin: 0;
      }

      .add_tag, .remove_tag {
        text-indent: -9998em;
        height: 20px;
        width: 12px;
        border: none;
        padding: 0;
      }

      .add_tag {
        background:url("https://linuxfr.org/images/icones/tag.png") no-repeat 0 6px;
      }
      .add_tag[disabled] {
        background:url("https://linuxfr.org/images/icones/tagged.png") no-repeat 0 6px;
      }
      .remove_tag[disabled] {
        display:none;
      }
      .remove_tag {
        background:url("https://linuxfr.org/images/icones/x.png") no-repeat 0 6px;
      }
    }
  }
}

/*==========================
  Content
  ==========================*/

article .content {
  padding: 1em 0;
}

.content {
  text-align: justify;
  word-wrap: break-word;
  @include hyphens();

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  a[href][title="Définition Wikipédia"]:after {
    content: "\A0W";
    font-family: serif;
    font-size: 6pt;
    vertical-align: super;
  }

  a[href][title="Lien du wiki interne LinuxFr.org"] {
    padding-left: 3px;
    border-left: 16px;
    -moz-border-image: url("/favicon.png") 0 0 0 32px;
    -o-border-image: url("/favicon.png") 0 0 0 32px;
    -webkit-border-image: url("/favicon.png") 0 0 0 32px;
    -khtml-border-image: url("/favicon.png") 0 0 0 32px;
    border-image: url("/favicon.png") 0 0 0 32px;
  }

  content .content li {
    list-style-position: inside;
  }
}

/*==========================
  Messages
  ==========================*/

@import "bootstrap/lib/_alerts.scss";

.alert {
  @extend .alert;
  @extend .alert-error;
}

.notice {
  @extend .alert;
}

.notice-wrap {
  position: fixed;
  top: 60px;
  width: 940px;
  z-index: 9999;
}
.notice-item {}
.notice-item-close {float: right;}

/*==========================
  Polls
  ==========================*/

ul.poll {
  &.current li {list-style: none;}

  .result {
    background: $orange;
    font-size: x-small;
    white-space: nowrap;
    height: 20px;
  }
}

/*==========================
  Comments
  ==========================*/

body#comments-show #contents > ul,
body#comments-create #contents > ul,
body#users-comments #contents > ul,
ul.threads {
  list-style: none;
  margin: 0 0 20px 0;
}

.threads li {
  position: relative;
}

li.comment {
  &> h2, &> .meta {
    background: #ddd;
    padding-left: 10px;
    line-height: 25px;
  }
  &> h2 {
    font-size: medium;
    margin-bottom: 0;
    margin-top: 10px;
    clear: right;
    padding-top: 5px;
    border-top: 2px solid #ccc;
  }
  &> .meta {
    color:$grayLight;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
  }

  a.title {
    color: #23262d;
  }

  figure.image {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  img.avatar {
    height: 64px;
    width: 64px;
  }

  &> ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    border-left: 1px dotted #ccc;
  }
}

li.new-comment > .meta { border-color: $linkColorHover; }
li.new-comment > h2    { border-color: $linkColorHover; }

/*==========================
  Board
  ==========================*/

.norloge {
  font-weight:bold;
  font-family:monospace;
  font-size:small;

  &:before {content:"[";}
  &:after {content:"]";}
}

.highlighted {
  background:rgba(76,87,95,0.16);
  border-top:1px solid #4c575f !important;
  border-bottom:1px solid #4c575f !important;
}

#boards-show #container .inbox {
  p                   {margin: 0}
  .board-right:before {content:" » "; font-weight:bold;}
  .board-right time   {color:$blue;}
  .myPost             {color:$orange; font-weight:bold;}
}

/*==========================
  Redaction
  ==========================*/

input#news_title,input#comment_title,input#diary_title,input#tracker_title,
input#post_title,input#poll_title,input#wiki_page_title,input#stylesheet {
  width:70%;
}

.fieldWithErrors input {border:1px solid red;}

#moderation_box {
  li {list-style:disc inside;}
  .board input#board_message {display:block; width:95%; margin: 5px auto;}
}

#redaction {
  .reorganize {
    background: url("https://linuxfr.org/images/icones/loop.png") no-repeat 2px 2px;
    display: block;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .edit {
    background: url("https://linuxfr.org/images/icones/pen.png") no-repeat 2px 2px #fff;
  }
  #edition {
    @extend .span8;
    margin-left: 0 !important;
  }
  .edition_in_place, .paragraph, .link {
    position:relative;

    .actions button {
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 0;
    }
    &:hover .actions button {
      visibility:visible;
      z-index: 999;
    }
  }

  #chat {
    @extend .span4;

    form {@extend .form-inline;}

    .inbox p.edition:before, .inbox p.locking:before {
      content: "Î”â€‰";
      color: orange;
    }
    .inbox p.creation:before {
      content: "+â€‰";
      color: lime;
    }
  }
}

/*==========================
  Toolbar
  ==========================*/

div#toolbar {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #f9f9f9;
  border-top: 1px solid #ccc;
  font-size: small;
  @include hyphens();

  &> span { display: inline; }
}


/*==========================
  History / revisions
  ==========================*/

body#news-revision #contents, body#wiki_pages-revision #contents {
  pre {
    white-space:pre-wrap;
  }
  ins {
    text-decoration: none;
    background: lime;
    color: #242424;
  }
  del {
    text-decoration: line-through;
    background: red;
  }
  nav ul, nav ul li {
    display: inline;
  }
}

/*==========================
  Misc
  ==========================*/

body#sections-index .body .section {
  display: inline-block;
  height: 120px;
  text-align: center;
  width: 20%;
}

#container > h1:first-of-type,
.toolbox .pagination,
li.comment.fold > figure,
li.comment.fold > .content,
li.comment.fold > .actions {display:none;}

#site li:last-child:after,
.tags ul li:last-child:after,
.tags ul li .last:after,
.toolbox .order_navbar ul li:last-child:after,
.toolbox .order_navbar ul li .last:after {
  content:"";
}

/*==========================
  Form links
  ==========================*/

div#form_links {
  fieldset label, .link input, .link select, .link button {
    display: inline-block;
    width: 23.5%;
  }
}

/*==========================
  Import common styles
  ==========================*/

@import "common/ac.css.scss";
@import "common/generics.css.scss";
@import "common/markitup.css.scss";
@import "common/monokai.css.scss";
@import "common/statistics.css.scss";

// generics mod
.misspelled { border-bottom: 1px dashed $linkColorHover; }
.signature  { color: $grayLight; font-size: small; }

// markItUp mod
textarea.markItUp {
  padding: 4px;
  width: 98%;
}

/* MEDIA QUERIES */

@media (min-width: 1200px) {
  @include grid-core($gridColumnWidth1200, $gridGutterWidth1200);
  @include grid-input($gridColumnWidth1200, $gridGutterWidth1200);

  #sidebar { margin-left: O !important; }
}

@media (min-width: 768px) and (max-width: 979px) {
  @include grid-core($gridColumnWidth768, $gridGutterWidth768);
  @include grid-input($gridColumnWidth768, $gridGutterWidth768);

  #sidebar { margin-left: O !important; }
}

@media (max-width: 767px) {

  // Padding to set content in a bit
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  // Remove width from containers
  .container {
    width: auto;
  }
  // Make all grid-sized elements block level again
  .reset-span {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    @include box-sizing(border-box);
  }
  .span12 {
    width: 100%;
    @include box-sizing(border-box);
  }

  // Make span* classes full width
  input[class*="span"], select[class*="span"], textarea[class*="span"] {
    @include input-block-level();
  }

  #branding {
    float: right;
  }
}

// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {
  #branding, #poll_box, #redaction_box, figure.image {
    display: none;
  }

  h1 { font-size: 24px; line-height: 32px; }
  h2 { font-size: 18px; line-height: 20px; }
  h3 { font-size: 16px; line-height: 20px; }

  article {
    margin-bottom: 20px;

    h1     { margin: 0 30px 0 0; }
    .score { right: 0; top: 10px; left: auto; }
  }

  div#toolbar { font-size: x-small; line-height: 1.4; content: none;}

  // Update checkboxes for iOS
  input[type="checkbox"], input[type="radio"] {
    border: 1px solid #ccc;
  }

  #container {
    padding-top: 0;
  }

  li.comment > ul {
    padding-left: 5px;
  }
  li.comment > h2, li.comment > .meta {
    padding: 0 0 0 5px;
    line-height: 20px;
  }

  #sidebar .box {
    .new_content        { float: left; margin-right: 5px; }
    .new_content:after  { content: " · "; }
    li                  { display: inline; }
    li:after            { content: " · "; }
    li:last-child:after { content: ""; }
  }

  footer.actions > div.vote { display: inline; @include hyphens() }
}

// Enhancements for desktop version

@media (min-width: 480px) {
  html {
    background: #e4e4e4 url('http://saimon.org/public/linuxfr/white_texture.png') repeat top;
  }

  article,
  body#admin-index #container > ul,
  body#boards-show #contents,
  body#client_applications-index table,
  body#comments-create #contents > ul > li#comment_new,
  body#comments-show #contents > ul > li.comment,
  body#dashboard-index #contents table,
  body#news-revision #contents,
  body#redaction-index #container > div,
  body#stylesheets-edit #contents,
  body#trackers-index #contents table,
  body#users-comments #contents > ul > li,
  body#wiki_pages-changes #contents,
  body#wiki_pages-revision #contents,
  form#new_post {
    background: #fff;
    margin: 0 0 20px;
    padding: 14px;
    @include box-shadow(#{0 0 6px rgba(0, 0, 0, 0.5)});
  }
}
